.clubs {
    position: relative;
    display: flex;
    width: 80vw;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15vh;
}

.clubs h1{
    font-size: "Mulish";
    color: rgb(0, 0, 0);
    margin:  20px 0px;
    margin-top: 70px;
    align-self: self-start;
}

.clubs h4 {
    font-family: "Mulish";
    color: rgb(0, 0, 0);
    font-weight: 200;
    margin-bottom: 50px;
    align-self: self-start;
}

.club-posters {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, auto);
    align-items: center;
    justify-content: space-between;
    grid-gap: 25px;
    gap: 50px;
}

.club-posters img{
    transition: 0.5s;
    height: 100%;
    width: 100%;
    margin: auto;
    border: 0;
    border-radius: 0.3em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.club-posters img:hover {
    cursor: pointer;
    transition: 0.5s;
    filter: brightness(0.90);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transform: scale(1.15);
}

.club-poster1 {
    grid-column: 1;
    grid-row: 1;
}
.club-poster2 {
    grid-column: 2;
    grid-row: 1;
}
.club-poster3 {
    grid-column: 3;
    grid-row: 1;
}
.club-poster4 {
    grid-column: 4;
    grid-row: 1;
}
.club-poster5 {
    grid-column: 1;
    grid-row: 2;
}
.club-poster6 {
    grid-column: 2;
    grid-row: 2;
}
.club-poster7 {
    grid-column: 3;
    grid-row: 2;
}
.club-poster8 {
    grid-column: 4;
    grid-row: 2;
}
.club-poster9 {
    grid-column: 1;
    grid-row: 3;
}
.club-poster10 {
    grid-column: 2;
    grid-row: 3;
}
.club-poster11 {
    grid-column: 3;
    grid-row: 3;
}
.club-poster12 {
    grid-column: 4;
    grid-row: 3;
}

.extra-content {
    position: relative;
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.text {
    display: grid;
}

.text span {
    font-size: xx-large;
    font-weight: 600;
    margin: 5px 0;
}

.links-images {
    display: grid;
    grid-template-columns: 20% 20% 30% 20% 10%;
    grid-template-rows: 200px;
    justify-content: space-around;
    align-items: center;
    
}

.icon1 {
    position: relative;
    grid-column: 1;
    margin: auto;
}

.icon1 img {
    display: flex;
    height: 60px;
    margin: auto;
    border-radius: 0.5em;
}

.icon2 {
    position: relative;
    grid-column: 2;
    margin: auto;
}

.icon2 img {
    display: flex;
    height: 60px;
    margin: auto;
    border-radius: 0.5em;
}

.phone-icon {
    grid-column: 4;
}

.phone-icon img {
    height: 300px;
}

footer {
    display: grid;
    background-color: #151720;
    color: white;
    grid-template-columns: 9.5vw 20vw 10vw 17vw 17vw 17vw 9.5vw;
    grid-template-rows: 100px 90px 120px 110px 50px 100px;
    align-items: center;
    justify-content: space-between;
}

footer span {
    display: flex;
    align-self: flex-start;
    grid-column: 2;
    font-size: 40px;
    font-weight: 600;
    grid-row: 2;
}

footer .content1 {
    display: flex;
    align-self: flex-start;
    grid-column: 2;
    grid-row: 3;
    font-size: 12.5px;
    letter-spacing: 0.5px;
    word-spacing: 1.5px;
    line-height: 18px;
}

footer .content2 {
    display: flex;
    align-self: flex-start;
    grid-column: 2;
    grid-row: 4;
    font-size: 12.5px;
    letter-spacing: 0.5px;
    word-spacing: 1.5px;
    line-height: 18px;
}

footer .lastline {
    display: flex;
    align-self: flex-start;
    grid-column: 2;
    grid-row: 5;
    font-size: 12.5px;
    letter-spacing: 0.5px;
    word-spacing: 1.5px;
    line-height: 18px;
}

.title1 {
    position: relative;
    align-self: center;
    display: flex;
    font-weight: 600;
    grid-column: 4;
    grid-row: 2;
}

.title2 {
    position: relative;
    align-self: center;
    display: flex;
    font-weight: 600;
    grid-column: 5;
    grid-row: 2;
}

.title3 {
    position: relative;
    align-self: center;
    display: flex;
    font-weight: 600;
    grid-column: 6;
    grid-row: 2;
}

.company {
    align-self: flex-start;
    display: flex;
    grid-column: 4;
    grid-row: 3;
    list-style: none;
    flex-direction: column;
}

.get-help {
    align-self: flex-start;
    display: flex;
    grid-column: 5;
    grid-row: 3;
    list-style: none;
    flex-direction: column;
}

.explore {
    align-self: flex-start;
    display: flex;
    grid-column: 6;
    grid-row: 3;
    list-style: none;
    flex-direction: column;
}

li {
    align-self: flex-start;
    font-size: 14px;
    line-height: 27.5px;
    letter-spacing: 0.5px;
    word-spacing: 1.5px;
}

.license {
    display: flex;
    align-self: flex-start;
    grid-column: 2/5;
    grid-row: 6;
    font-size: 12px;
}

.social-handles {
    display: flex;
    justify-content: space-between;
    grid-column: 6/8;
    grid-row: 5/7;
    margin: auto;
    width: 15%;
}

.social-handles img:nth-child(1) {
    display: flex;
}

.social-handles img:nth-child(2) {
    display: flex;   
}

.social-handles img:nth-child(3) {
    display: flex;   
}

@media screen and (max-width: 1350px) {
    footer {
        display: grid;
        background-color: #151720;
        color: white;
        grid-template-columns: 9.5vw 20vw 10vw 17vw 17vw 17vw 9.5vw;
        grid-template-rows: 100px 90px 160px 150px 50px 100px;
        align-items: center;
        justify-content: space-between;
    }
}

@media screen and (max-width: 1250px) {
    footer {
        display: grid;
        background-color: #151720;
        color: white;
        grid-template-columns: 9.5vw 20vw 10vw 17vw 17vw 17vw 9.5vw;
        grid-template-rows: 100px 90px 170px 160px 60px 100px;
        align-items: center;
        justify-content: space-between;
    }

    .phone-icon img {
        height: 290px;
    }

    .icon1 img {
        display: flex;
        height: 50px;
        margin: auto;
        border-radius: 0.5em;
    }

    .icon2 img {
        display: flex;
        height: 50px;
        margin: auto;
        border-radius: 0.5em;
    }
}

@media screen and (max-width: 1100px) {
    footer {
        display: grid;
        background-color: #151720;
        color: white;
        grid-template-columns: 9.5vw 20vw 10vw 17vw 17vw 17vw 9.5vw;
        grid-template-rows: 100px 90px 220px 180px 80px 100px;
        align-items: center;
        justify-content: space-between;
    }

    .phone-icon img {
        height: 270px;
    }

    .icon1 img {
        display: flex;
        height: 40px;
        margin: auto;
        border-radius: 0.5em;
    }

    .icon2 img {
        display: flex;
        height: 40px;
        margin: auto;
        border-radius: 0.5em;
    }

    .club-posters {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(4, auto);
        align-items: center;
        justify-content: space-between;
        grid-gap: 25px;
        gap: 50px;
    }

    /* Row-1 */
    .club-poster1 {
        grid-column: 1;
        grid-row: 1;
    }
    .club-poster2 {
        grid-column: 2;
        grid-row: 1;
    }
    .club-poster3 {
        grid-column: 3;
        grid-row: 1;
    }

    /* Row-2 */
    .club-poster4 {
        grid-column: 1;
        grid-row: 2;
    }
    .club-poster5 {
        grid-column: 2;
        grid-row: 2;
    }
    .club-poster6 {
        grid-column: 3;
        grid-row: 2;
    }

    /* Row-3 */
    .club-poster7 {
        grid-column: 1;
        grid-row: 3;
    }
    .club-poster8 {
        grid-column: 2;
        grid-row: 3;
    }
    .club-poster9 {
        grid-column: 3;
        grid-row: 3;
    }
    
    /* Row-4 */
    .club-poster10 {
        grid-column: 1;
        grid-row: 4;
    }
    .club-poster11 {
        grid-column: 2;
        grid-row: 4;
    }
    .club-poster12 {
        grid-column: 3;
        grid-row: 4;
    }
}

@media screen and (max-width: 850px) {
    footer {
        display: grid;
        background-color: #151720;
        color: white;
        grid-template-columns: 9.5vw 20vw 10vw 17vw 17vw 17vw 9.5vw;
        grid-template-rows: 100px 90px 220px 180px 80px 100px;
        align-items: center;
        justify-content: space-between;
    }

    .phone-icon img {
        height: 270px;
    }

    .icon1 img {
        display: flex;
        height: 40px;
        margin: auto;
        border-radius: 0.5em;
    }

    .icon2 img {
        display: flex;
        height: 40px;
        margin: auto;
        border-radius: 0.5em;
    }

    .club-posters {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(6, auto);
        align-items: center;
        justify-content: space-between;
        grid-gap: 25px;
        gap: 50px;
    }

    /* Row-1 */
    .club-poster1 {
        grid-column: 1;
        grid-row: 1;
    }
    .club-poster2 {
        grid-column: 2;
        grid-row: 1;
    }

    /* Row-2 */
    .club-poster3 {
        grid-column: 1;
        grid-row: 2;
    }
    .club-poster4 {
        grid-column: 2;
        grid-row: 2;
    }

    /* Row-3 */
    .club-poster5 {
        grid-column: 1;
        grid-row: 3;
    }
    .club-poster6 {
        grid-column: 2;
        grid-row: 3;
    }

    /* Row-4 */
    .club-poster7 {
        grid-column: 1;
        grid-row: 4;
    }
    .club-poster8 {
        grid-column: 2;
        grid-row: 4;
    }
    
    /* Row-5 */
    .club-poster9 {
        grid-column: 1;
        grid-row: 5;
    }
    .club-poster10 {
        grid-column: 2;
        grid-row: 5;
    }

    /* Row-6 */
    .club-poster11 {
        grid-column: 1;
        grid-row: 6;
    }
    .club-poster12 {
        grid-column: 2;
        grid-row: 6;
    }
}